<button (click)="buscarPosts()">Buscar posts</button>
<button (click)="salvarPosts()">Salvar post</button>
<hr>

<label>Salário do Programador: {{salario | currency:'BRL':'symbol':'1.4-4'}}</label>
<div *ngIf="mostrarLinhaCodigo">
 <table [ngClass]="{'table-bordered' : true}">
   <thead>
     <tr>
       <td>Index</td>
       <td>Número da linha</td>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let numLinha of linhasDeCodigo; let i = index">
       <td [ngClass]="{'table-bordered' : true}" [ngStyle]="{'border': '1px solid black'}">{{i}}</td>
       <td [ngStyle]="{'border': '1px solid black'}">{{numLinha}}</td>
     </tr>
   </tbody>
 </table>
</div>
<hr/>
<component-1 
  label="nome"
  (clickSalvar)="atualizarBotaoClicado($event)"
></component-1>

<hr />

<div [ngSwitch]="ultimoBotaoClicado">
  <div *ngSwitchCase="1">
    <h2>Último clicado foi o 1</h2>
  </div>
  <div *ngSwitchCase="2">
      <h2>Último clicado foi o 2</h2>
  </div>
  <div *ngSwitchDefault>
      <h2>Nenhum clicado</h2>
    </div>
</div>

<hr />


<form [formGroup]="formulario" (submit)="onSubmit()" novalidate>
    <label>Nome<span style="color: red">*</span>: </label>
    <input formControlName="nome" type="text" />
    <label *ngIf="!formulario.get('nome').pristine && formulario.get('nome').invalid">
      <span style="color: red">Esse campo é obrigatório!</span>
    </label>
    <br />
    <label>Idade: </label>
    <input formControlName="idade" type="number" />
    <br />
    <div formGroupName="endereco">
        <label>Rua<span style="color: red">*</span>: </label>
        <input formControlName="rua" type="text" />
        <label *ngIf="!formulario.get('endereco.rua').pristine && formulario.get('endereco.rua').invalid">
            <span style="color: red">Esse campo é obrigatório!</span>
          </label>
        <br />
        <label>Número: </label>
        <input formControlName="numero" type="number" />
        <br />
    </div>
    <label>Permissões </label>
    <br>
    <select style="width: 400px" formArrayName="permissoes" multiple>
      <option *ngFor="let permissao of permissoes" [value]="permissao">{{permissao}}</option>
    </select>
    <br />
    <button [disabled]="formulario.invalid">Salvar</button>
</form>


<notifications></notifications>